# 3. What is series ?

In [ ]:
# There are two basic object types in pandas that holds the data 
#1. Data Frame - A set of rows and coloumns.
#2. Series -   Each column is known as series. 

#This notebook will explore how we can select series

In [2]:
import pandas as pd

In [5]:
pd.read_table("http://bit.ly/uforeports").head(3)

  City,Colors Reported,Shape Reported,State,Time
0             Ithaca,,TRIANGLE,NY,6/1/1930 22:00
1          Willingboro,,OTHER,NJ,6/30/1930 20:00
2               Holyoke,,OVAL,CO,2/15/1931 14:00

In [ ]:
# Note:
# 1. We can clearly see that file is " ," seperated
# 2. What we can do is use what we learned in first tutorial i.e by using "sep = ',' " or we can also use "read_csv"

## 3.1 read_csv

In [ ]:
# Difference between read_csv and read_table 
#1.read_csv by default takes "," as seperator.

In [6]:
ufo = pd.read_csv("http://bit.ly/uforeports")
ufo.head(5)

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

## 3.2 type

In [ ]:
# type is built in python method to identify type of object .

In [ ]:
# We can use type here to check if read_csv returns a data frame or not ?

In [7]:
type(ufo)

pandas.core.frame.DataFrame

In [ ]:
#we can see its a Data Frame.

## Selecting Series

In [10]:
# Method One

ufo['City'].head(3)

0         Ithaca
1    Willingboro
2        Holyoke
Name: City, dtype: object

In [11]:
# We can check type for the output

type(ufo['City'])

pandas.core.series.Series

In [ ]:
#Notes: While selecting Series
# 1.Column names are case sensative
# 2.