In [3]:
import pandas as pd

In [4]:
ufo = pd.read_csv("http://bit.ly/uforeports")

###### 5.2 How to check column names ?

Column names can be checked by two methods.
    1. ufo.head()
    2. ufo.columns
As we checked earlier head is method where as columns is attribute.

In [5]:
ufo.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [8]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

ufo.head provides first five rows , where as ufo.columns provides list (I assume, we can check type in next cell) of all columns.

In [9]:
type(ufo.columns)

pandas.core.indexes.base.Index

###### 5.3 How to Rename specific columns ?

Renaming columns can be acheived by multiple method ,Below are some.
    1. Dictionary method.
    2.

In [10]:
ufo.rename(columns = {'Colors Reported':'Colors_Reported','Shape Reported':'Shape_Reported'},inplace = True)

In [11]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

We can see that columns names changed , to explain the piece we used renmae method and then created a dictionary where for key we used previous column name and for value we used new column name by using column argument and then we used inplace = True to fix it.

###### 5.3 How to Rename all column names ?

Though we can use previous method but that would require extra typing. Below is one one of the way.

In [13]:
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

Index(['city', 'colors reported', 'shape reported', 'state', 'time'], dtype='object')

Here is what happened , a list is created with required column names and then using columns attribute we assign the list to all the columns or replace existing column names to new one.