In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [3]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
movies.shape

(979, 6)

##### Multi step Process

######  Get list of movies where duration is >=200

In [5]:
booleans = []
for length in movies.duration:
    if length >=200:
        booleans.append(True)
    else:
        booleans.append(False)

In [6]:
booleans[0:5]

[False, False, True, False, False]

In [10]:
len(booleans)

979

Summary: 
A boolean list is created that checks durantion column for all the rows and  returns True when durantion of movie is greater than equals to 200 else False.

Code Details:

An empty list  booleans[] is created and then and for loop is used to to iterate over duration column and check if the data stored in length variable is >= or not . If it is then True is appended in empty list else False.

when we check for the values in the list booleans for 0:5 we can see in csae of third item(index two) it shows True. which is if we check or dataframe. 

we can also see that we have data for all rows.

###### Converting  list into Pnadas Series

In [11]:
is_long = pd.Series(booleans)

In [12]:
is_long.head()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [14]:
movies[is_long].shape

(12, 6)

In [16]:
a = movies.duration>=200
a.head()

0    False
1    False
2     True
3    False
4    False
Name: duration, dtype: bool

Above part of the code replaces for loop . a is variable where movies.duration>200 value is stored in boolean format as we can see output for a.head()

In [21]:
movies[a].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."

Above code filters the DataFrame based on boolean value that we stored in varialble a . This can be also written in much shorter way delivering same result following same procedure.

In [22]:
movies[movies.duration>=200].head(5)

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."