In [2]:
import pandas as pd

In [3]:
orders = pd.read_table('http://bit.ly/chiporders')

In [4]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

##### 12.1 How to change a string into upper case ?

when using python we can diretcly use string method upper.() below is example

In [5]:
'hello'.upper()

'HELLO'

While using Pandas similar options available but with few tweaks . To use a string method on a pandas series 'str' needs to be used. Below is the example

In [11]:
orders.item_name.str.upper().tail()

4617         STEAK BURRITO
4618         STEAK BURRITO
4619    CHICKEN SALAD BOWL
4620    CHICKEN SALAD BOWL
4621    CHICKEN SALAD BOWL
Name: item_name, dtype: object

Above series method is used and in between 'str' is used

##### 12.2  How to check presence of a substring ?

In [13]:
orders.item_name.str.contains('Steak').head()

0    False
1    False
2    False
3    False
4    False
Name: item_name, dtype: bool

In [14]:
type(orders.item_name.str.contains('Steak'))

pandas.core.series.Series

Contains is one of the string method that provides option to check for susbstring . Above example returns a pandas series of Booleans

In [17]:
orders[orders.item_name.str.contains('Steak')].head()

,order_id,quantity,item_name,choice_description,item_price
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
31,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",$8.99
43,20,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.75

Similar process mentioned in previous notes for filtering dataframe with a sries value, same process is used to filter Data Frame here. Above example filters using a substring value.